.search-card-loader-container {
    margin-top: 55px;
    height: 385px;
    background: #F5F5F5;
    border-radius: 8px;
    display: flex;
    padding: 25px 30px;
}

.search-card-loader-user {
    width: 30%;
    margin-top: -22px;
}

.search-card-loader-infos {
    width: 70%;
    height: 280px;
}