.main-nav-container {
    background: #1890FF;
    height: 62px;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.main-nav-title {
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}